<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between bg-purple">
  <ul class="navbar-nav">
    <li class="nav-item " [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="/admin/dashboard">Dashboard</a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="/admin/inventory">Inventory</a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="/admin/menus">Menus</a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="/admin/usermanagment">User Managment</a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="/admin/orders">Orders</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Logout</a>
    </li>
  </ul>
</nav>