<nav class="navbar navbar-expand-sm bg-dark bg-purple text-white justify-content-between" id="publicNavbar">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aboutus">Aboutus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/gallary">Gallary</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signup">Signup</a>
    </li>
  </ul>
</nav>