.loginForm{
  background-color: purple;
  color: white;
  min-height: 350px;
  border-radius: 4px;
}
.bg-purple{
  background-color: #800080!important
}
#publicNavbar .nav-link{
  color: white;
}
.text-white{
  color: white;
}

.mybtn-primary {
  color: #800080;
  background-color: #ffd1ff;
  border-color: #800080;
}