<div class="container">
  <div class="row justify-content-center mt-5">
    <!-- <div class="col-md-12 text-center">
      <h2>Login Form</h2>
    </div> -->
    <div class="col-md-5 loginForm align-items-center">
      <h2 class="text-center p-4">Login</h2>
      <div class="row justify-content-center">
        <form class="col-md-10 ">
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group text-center">
            <input type="submit" class=" btn btn-md mybtn-primary" (click)="login()" name="" value="Login">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>